.Board {
  width: calc(var(--width) * var(--cellSize));
  --cellSize: 40px;
  display: grid;
  grid-template-columns: repeat(var(--width), 40px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border: 1px solid grey;
  border-width: 0 0 1px 1px;
}
